

h1 {

font-family: helvetica;
font-size:50px;

}


.cars {

display : inline-block;
border : 2px solid black;
margin : 2px;
width : 200px;s
}

.cars .nano {
padding : 5px 5px 5px 5px;
text-align : center;
font-family:helvetica;

}


.cars:hover {

border : 10px yellow;


}





