button {

height : 30px;
width : 50px;
background-color: black;
color : white;
border : none;





}




h1 {


font-family : helvetica;
font-size:50px;
color : green;




}




h2 {


font-family : helvetica;
font-size:50px;
color : green;






}